.navbar {
        height: 4em;
}

#presentacion img {
        height: 30em;
        width: 100%;
        margin-top: -2.7em;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        font-weight: bold;
}

body {
        background: #0B486B;
        background: -webkit-linear-gradient(to right, #F56217, #0B486B);
        background: linear-gradient(to right, #F56217, #0B486B);
        color: aliceblue;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        font-weight: bold;
        background-repeat: no-repeat;
        background-position: center center;
}

h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
}

h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;

}

#cajas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 0.625em, auto;
        cursor: pointer;
}

#cajas img {
        height: 13em;
        width: 21em;
        border-radius: 0 40px 0 40px;
        padding: 0.9375em 0.3125em 0.9375em 0.3125em;
}

#juegos img {
        width: 50em;
        height: 20em;
        padding-bottom: 1em;
        transition-property: width;
        transition-duration: 2s;
        transition-delay: 0.3s;
}
#juegos li{
        list-style-type: none;
}

.contacto {
        text-align: center;
        padding-top: 5em;
}

.contacto p {
        padding-top: 1.25em;
        font-size: large;
        font-weight: bold;
        text-align: center;
}

.contacto a img {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        height: 2.5em;
        width: 3em;

}

@media(max-width:1140px) {
        #cajas {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-auto-rows: 0.625em, auto;
        }
        
}


@media(max-width:748px) {
        #cajas {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-auto-rows: 0.625em, auto;
        }

        #presentacion img {
                height: 11em;
                width: 100%;
                margin-top: -2.7em;
                font-family: Arial, Helvetica, sans-serif;
                font-size: large;
                font-weight: bold;
        }
        .video-contenedor {
                position: relative;
                padding-bottom: 70%;
                padding-top: 0px;
                height: 0;
                overflow: hidden;
        }
        
        .video-contenedor iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 95%;
                height: 90%;
        }
}



/*el otro html*/
#juegos img:hover {
        width: 60em;
}